/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




.Control{
  display: inline-block;
  /* text-align: middle; */
  /* background-color: rgb(8, 8, 8); */
  width: 500px;

  /* position: relative; */
  text-align: left;
}

.control-ai{
  /* background-color: aqua; */
  display: inline-block;
  width: 150px;
}
.control-level{
  /* background-color: rgb(255, 102, 0); */
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.control-act{
  /* background-color: rgb(13, 228, 78); */
  display: inline-block;
  width: 150px;
  text-align: right;
}



.Board{
  margin-top: 10px;
}

.Tile {
  display: inline-block;
  vertical-align: middle;
  color: #afafaf;
  background-color: rgb(219, 217, 217);
  border: 2px solid rgb(228, 226, 226);
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  /* cursor: not-allowed; */
}

.cover{
  border: 2px inset rgb(235, 235, 235);
  background-color: rgb(80, 73, 73);
  
  cursor: pointer;
}

.cover:hover {
  background-color: rgb(177, 176, 141);
  color: rgb(177, 176, 141);
}

.mine{
  background-color: rgb(255, 238, 81);
  color: rgb(0, 0, 0);
}

.flag{
  height: 2vmin;
}

.game-status{
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}
